# --- Obsidian system files ---
.obsidian

# ---OS files ---
$RECYCLE.BIN/
Thumbs.db
Desktop.ini
.DS_Store

# --- script-generated temporary files ---
*.log
*.pdf
.env
__pycache__/
*.pyc
tmp/
Papers/
.trash